*pyc
.ipynb_checkpoints
*egg*
.RData
.Rhistory
.Rproj.user/
.dropbox
Icon*
*.pptx
*.docx
*.xlsx
processing.py
*.wpr
.DS_Store
.Rproj.user
tests/mri_analysis.py
tests/mri_preprocessing.py
RA_template.py
build
dist
*.swp
*.dmg
